
<div class="simulator-card-container">
    
    <div class="text-title">
        <h1>Accurate Simulator App</h1>  
    </div>  
    <div class="stripes">
        <div style="background-color: #F1C93B ; height: 0.5rem;"></div>
        <div style="background-color: #1A5D1A; height: 0.5rem; box-shadow: 1px 0px 6px 6px rgba(0,0,0,0.1);"></div>
    </div>

    <div class="screens">
        <img src="../../../../assets/screenleft.png" alt="" srcset="">
        <img src="../../../../assets/screencenter.png" alt="" srcset="">
        <img src="../../../../assets/screenright.png" alt="" srcset="">
    </div>
    
    <div class="compability">
        <a href="https://apps.apple.com/gb/app/sunfácil/id6448203534" target="_blank"><img src="../../../../assets/appstorebadge.svg" alt="" srcset=""></a>
        <span style="font-size: x-small;">Compatible with iPhone, iPad and Mac*</span>

    </div>

</div>
