
<div class="simulator-card-container">
    

    <div class="screens">
        <img src="./assets/screenleft.png" alt="" srcset="">
        <img src="./assets/screencenter.png" alt="" srcset="">
        <img src="./assets/screenright.png" alt="" srcset="">
    </div>
    
    <div class="compability">
        <a href="https://apps.apple.com/gb/app/sunfácil/id6448203534" target="_blank"><img src="./assets/appstorebadge.svg" alt="" srcset=""></a>
        <span style="font-size: x-small;">Compatible with iPhone, iPad and Mac*</span>

    </div>

</div>
