*{
    background-color: white;
    color: #010409;
}

.stripes {
    margin: auto;
    width: 30%;
}

.stripes > *{
    border-radius: 0.5rem;
}

.text-title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.screens{
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;
    width: 30%;
}

.screens > img {
    max-width: 100%;
}

.compability{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-content: center;
    
}

.compability > a {
    
    align-self: center;
}

@media (max-width: 476px){
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.2rem;
    }

    span{
        font-size: 0.8rem;
    }
}