<div class="panel-card-container">
    <div class="title">
        <h1 style="font-size: 2rem;">Solar Panels</h1>
        <span>Electrical Data of over 300 Panel Models</span>
        <ul>
            <li>Amerisolar</li>
            <li>•</li>
            <li>Canadian Solar</li>
            <li>•</li>
            <li>JA Solar</li>
            <li>•</li>
            <li>Jinko</li>
            
        </ul>
    </div>
    <div class="image">
        <img src="./assets/panel.png" alt="">
    </div>
</div>