
<div class="city-container">

    <div class="city-info">
        <h1>{{ cityFetched.city.name}} - {{ cityFetched.city.state}}</h1>

        <h2 style="font-weight: lighter;">Avg. Annual Temperature: {{ cityFetched.city.temp}} °C</h2>
        <h3 style="font-weight: lighter;">Lat: {{cityFetched.city.lat}} Long: {{cityFetched.city.lon}}</h3>
    </div>

<div class="cities_sortbox">

<select (change)="getCities(sel.value)"  #sel class="dropdown">
    <option *ngFor="let i of states">{{i.nome}}</option>
</select>

<select (change)="getCity(sela.value,stateSelected)"#sela class="dropdown">
    <option *ngFor="let i of cities">{{i}}</option>
</select>

</div>

<div class="cities-chart-style">

    <select (change)="changeChargeStyle(style.value)" #style class="dropdown2">
        <option value="none" selected disabled hidden>Select an Option</option> 
        <option value="bar">Bar</option>
        <option value="line" selected="true">Line</option>
    </select>

</div>


    <div class="canva">
        <canvas  id="MyChart" >{{ chart }}</canvas>
    </div>

<div class="link">
    <a href="http://labren.ccst.inpe.br/atlas_2017-en.html" target="_blank"><span>Data Source</span></a>
</div>

</div>