<p>cities works!</p>


<h1>{{ cityFetched.city.name}} - {{ cityFetched.city.state}}</h1>

<h3>Annual Temperature: {{ cityFetched.city.temp}} C</h3>

<div class="cities_sortbox">

<select (change)="getCities(sel.value)"  #sel class="dropdown">
    <option *ngFor="let i of states">{{i.nome}}</option>
</select>

<select (change)="getCity(sela.value,stateSelected)"#sela class="dropdown">
    <option *ngFor="let i of cities">{{i}}</option>
</select>

</div>


    <div class="canva">
        <canvas  id="MyChart" >{{ chart }}</canvas>
    </div>


