.cities_sortbox{
    border: solid 1px #30363D;
    display: flex;
    border-radius: 1rem;
    margin: auto;
    width: 350px;
    height: 70px;
    margin-bottom: 1rem;
}

.dropdown{
    margin: auto;
    width: 150px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #21262D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.canva{
    width: 70%;
    border: gray 2px solid; 
    border-radius: 1rem;
    margin: auto;
}

.canva > canvas {
    margin: 1rem;
}