<div class="card_container">

    <ul class="card">
        <li class="card_grid">
            <div class="card_grid_itens">
                <span class="card_grid_iten_title">Fronius</span>
                <span style="font-weight: 300; font-size: small;margin: auto;">Primo 7.6-1</span>
                <div class="card_grid_infos">
                    <ul>
                        <li>Power: </li>
                        <li>MPPT:</li>
                        <li>Grid Conn:</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>

    <ul class="card">
        <li class="card_grid"  *ngFor="let i of inverter.slice(0,offsetChild)">
           <a routerLink="/inverters" id="{{i.id}}" (click)="selectInverter(i.id)">
            <div class="card_grid_itens">
                <span class="card_grid_iten_title">{{i.manufacturer}}</span>
                <span style="font-weight: 300; font-size: small;margin: auto;">{{i.name}}</span>

                <div class="card_grid_infos">
                    <ul>
                        <li>Power: {{i.capacity/1000}}kW</li>
                        <li>MPPT: {{i.numberMPPTs}}</li>
                        <li>Grid Conn: {{i.gridConnection}}</li>
                    </ul>
                </div>
            </div>
           </a>
        </li>
    </ul>

</div>