
.card_grid{
    border: solid 1px #30363D;
    border-radius: 1rem;
    margin: 1rem;
    width: 250px;
    height:100px;
    
}
.card_grid:hover{
    border: solid 1px #238636
}

.card_grid_itens{
    display: flex;
    margin: 0.5rem;
    flex-direction: column;
}

.card_grid_iten_title {
    font-weight: 700;
    width: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.card_grid_infos{
    margin: 0.5rem;
}

.card_grid_infos > ul {
    display: flex;
    flex-direction: row;

    font-weight: 300;
    font-size: small;

    list-style: none;
}

.card_grid_infos > ul > li{
    color: #7C8590;
    margin-left: 1.1rem;
}

.card {
    display: flex;
    list-style: none;
    height: 90%;
    flex-wrap: wrap;
    margin: 0.5rem;
}

a{
    text-decoration: none;
}

.card_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
}


button{
    background-color: #238636;
    width: 100px;
    height: 30px;
    border-radius: 0.5rem;
    border:#30363D solid 1px;
    margin-bottom: 1rem;
}

button:hover{
    
    background-color: #2DA043;
}

button:active{
    border-color: #7C8590;
    background-color: #238636;
}