<div class="card_container" *ngIf="showInverterDetails==false ;else elseBlock">

    <ul class="card">
        <li class="card_grid"  *ngFor="let i of inverter.slice(0,offsetChild)">
           <a routerLink="/inverters" id="{{i.id}}" (click)="selectInverter(i.id)">
            <div class="card_grid_itens">
                <span class="card_grid_iten_title">{{i.manufacturer}}</span>
                <span style="font-weight: 300; font-size: small;margin: auto;">{{i.name}}</span>

                <div class="card_grid_infos">
                    <ul>
                        <li>Power: {{i.capacity/1000}}kW</li>
                        <li>MPPT: {{i.numberMPPTs}}</li>
                        <li>Grid Conn: {{i.gridConnection}}</li>
                    </ul>
                </div>
            </div>
           </a>
        </li>
    </ul>


    <div class="card_button">
        <button type="submit" (click)="loadMore()">More</button>
        <span style="font-size: smaller;font-weight: 300;">{{endOfCatalog}}</span>
    </div>

</div>

<ng-template #elseBlock>
    <app-inverter [inverter]="inverterSelected" [state]="showInverterDetails" (toogle)="showInverterDetails=$event"></app-inverter>
</ng-template>