*{
    background-color: white;
    color: black;
}

.simulatorweb-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
    
}


.title{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.stripes{
    width: 20%;
    border-radius: 1rem;
    
    animation: stripeani 2s ease-in;
    animation-timeline: view();
}

@keyframes stripeani{
    0%{
        width:20%
    }
    100%{
        width:80%
    }
}


.stripe1{
    background-color: #F1C93B ; 
    height: 0.5rem;
    border-radius: 1rem;
}

.stripe2{
    background-color: #1A5D1A;
    height: 0.5rem;
    box-shadow: 1px 0px 6px 6px rgba(0,0,0,0.1);
    border-radius: 1rem;
}

.text ul li{
    padding-top: 1.5rem; 
    list-style: none;
    text-align: justify;
}

.text{
    margin: 3rem 3rem;
}


.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
}

button{
    color: white;
    font-weight: bold;
    background-color: #238636;
    width: 100px;
    height: 40px;
    border-radius: 0.5rem;
    border:#30363D solid 1px;
    
}

button:hover{
    
    background-color: #2DA043;
}

button:active{
    border-color: #7C8590;
    background-color: #238636;
}


@media (max-width: 476px){
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.2rem;
    }

    span{
        font-size: 0.8rem;
    }
}