<div class="simulatorweb-conteiner">
    
<div class="title">
    <div class="text-title">
        <h1>Accurate Simulator App</h1>  
    </div>  
    <div class="stripes">
        <div class="stripe1"></div>
        <div class="stripe2"></div>
    </div>
</div>

<div class="text" >
     <h1>Why use SunFácil simulator?</h1>

     <ul>
        <li>
            <b>Pinpoint Accuracy</b>: <br>
            <span>Leverage irradiance data collected by INPE (National Institute for Space Research) to design solar projects tailored to the unique conditions of any location in Brazil.</span>
        </li>
        <li>
            <b>Streamlined Simulations:</b> <br> 
            <span>Our intuitive tools simplify the process of simulating solar installations, empowering you to make informed decisions quickly and effectively.</span>
        </li>
        <li>
            <b>Optimized Performance:</b> <br>
            <span>Maximize the efficiency and performance of your solar projects by fine-tuning parameters with precision, ensuring optimal energy generation.</span>
        </li>
     </ul>
</div>

</div>