<app-menu></app-menu>



<router-outlet></router-outlet>

<div class="footer">
    <div class="logo-rights">
        <img src="./assets/sunfacillogo-gray.png" alt="" srcset="">
       <a href="https://maxfideles.github.io/maxi/" target="_blank"> <span>© Maxfideles - 2023 </span></a>
    </div>

    <div class="contact">
        <a href="https://github.com/maxfideles" target="_blank"><span>Github</span></a>
        |
        <a href="https://www.linkedin.com/in/max-victor/" target="_blank"><span>LinkedIn</span></a>
        |
        <a href="mailto:maxfideles24@gmail.com"><span>E-mail</span></a>
    </div>


    <div class="images">
        <a href="http://labren.ccst.inpe.br/atlas_2017-en.html" target="_blank"><img src="./assets/labren-logo.png" alt="Logo LABREN"></a>
        <a href="https://www.gov.br/inpe/pt-br" target="_blank"><img src="./assets/inpe-logo.svg" alt="Logo INPE"></a>
        
    </div>
</div>