<app-menu></app-menu>



<router-outlet></router-outlet>

<div class="footer">
    <div class="footer_text">
       <a href="https://maxfideles.github.io/maxi/" target="_blank"> <span>© Maxfideles - 2023 </span></a>
    </div>
    <div class="images">
        <img src="http://labren.ccst.inpe.br/imgs/ilustr/logos/Logo_LABREN_sem_descricao_fundo_transp.png" alt="Logo LABREN">
        <img src="http://labren.ccst.inpe.br/imgs/ilustr/logos/Logo_DIIAV.png" alt="Logo DIIAV">
        <img src="http://labren.ccst.inpe.br/imgs/ilustr/logos/Logo_INPE_2020.png" alt="Logo INPE">

    </div>
</div>