*{
    background-color: #010409;
}

.footer{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: #2F81F7

}

.logo-rights{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}


span:hover{
    color: #2F81F7;
}


a{
    text-decoration: none;
}


.contact > * {
padding: 1rem;
}

.images{
    display: flex;
    align-items: center;
    flex: row;
    padding: 1rem;
}

img{
    width: 30px;
    margin-right: 0.5rem;
}

@media(max-width: 425px){
    span{
        font-size: 10px;
    }
    .footer{
        margin-top: 2rem;
    }
}