.menu-list{
    background: #010409;
    font-weight: 300;
}


.menu-list > a {
    margin-right: 1rem;
    padding: 1px;
    text-decoration: none;
    background: #010409;
}

.menu-list > a:hover {
        font-weight: normal;
        color: #238636; 
}

.page_activated{
    font-weight: normal;
    color: #238636;
}

#home{
    display: none;
}

@media (max-width:475px){
    a{
        font-size: 12px;
    }
    #home{
        display: inline-block;
    }
}

@media (max-width:330px){
    a{
        font-size: 10px;
        font-weight: bold;
    }
    #home{
        display: inline-block;
    }
}