<div>
    
    <nav class="menu-list">
        <a routerLink="home"
        routerLinkActive="page_activated"
        ariaCurrentWhenActive="page" id="home">
            Home
        </a>
        <a routerLink="cities"
        routerLinkActive="page_activated"
        ariaCurrentWhenActive="page">
            City Info
        </a>
        <a routerLink='inverters'
            routerLinkActive="page_activated"
            ariaCurrentWhenActive="page">
            Inverters
        </a>
        <a routerLink="panels"
        routerLinkActive="page_activated"
        ariaCurrentWhenActive="page">
            Panels
        </a>
        <a routerLink="simulator"
        routerLinkActive="page_activated"
        ariaCurrentWhenActive="page">
            Simulator
        </a>
        
    </nav>
</div>
