/* You can add global styles to this file, and also import other style files */
*{
    background-color: #0D1117;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


/*
text1_color: white
text2_colr: 7C8590
Background_dark: 0D1117
Background_light: 161B22
Border_color: 30363D
Link_color: 2F81F7
Menu_black: 010409
Buttons_green: 238636
Buttons_gray: 21262D
#ffffff	(255,255,255)
#2dba4e	(45,186,78)


*/