<div class="card_container" *ngIf="showPanelDetails==false; else elseBlock">

    <ul class="card">
        <li class="card_grid"  *ngFor="let i of panel.slice(0,offsetChild)">
           <a routerLink="/panels" id="{{i.id}}" (click)="selectPanel(i.id)">
            <div class="card_grid_itens">
                <span class="card_grid_iten_title">{{i.manufacturer}}</span>
                <span style="font-weight: 300; font-size: small;margin: auto;">{{i.name}}</span>
                <div class="card_grid_infos">
                    <ul>
                        <li>Power: {{i.maximumPower}}W</li>
                        <li>Efficiency: {{i.efficiency*100}}%</li>
                        <li>Weight: {{i.weight}}kg</li>
                    </ul>
                </div>
            </div>
           </a>
        </li>
    </ul>

    
    <div class="card_button">
        <button type="submit" (click)="loadMore()">More</button>
        <span style="font-size: smaller;font-weight: 300;">{{endOfCatalog}}</span>
    </div>
</div>


<ng-template #elseBlock>
 <app-panel [panel]="panelSelected" [state]="showPanelDetails" (toogle)="showPanelDetails=$event"></app-panel>
</ng-template>

