* {
    background: #010409;
    justify-content: space-around;
}

.main-card-container{

    color: #ffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


img{
    width: 100%;
    margin-left: 0;
    transform: rotateY(180deg);
}

.image{
    width: 50%;
}

.text{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;

}

h1{
    font-size: 3rem;
}

h2{
    font-weight: normal;
}

span{
    color: #238636;
}

@media (max-width: 375px){
    h1{
        font-size: .8rem;
    }
    h2{
        font-size: 0.7rem;
    }
    .text{
        margin-left: 1rem;
    }
}

@media (min-width:375px) and (max-width: 580px){
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.3rem;
    }
    .text{
        margin-left: 1.5rem;
    }
}
