* {
    background: #010409;
    justify-content: space-around;
}

.main-card-container{

    color: #ffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


img{
    width: 100%;
    margin-left: 0;
    transform: rotateY(180deg);
}

.image{
    width: 50%;
}

.text{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;

}

h1{
    font-size: 3rem;
}

h2{
    font-weight: normal;
}

span{
    color: #238636;
}

@media (max-width: 476px){
    h1{
        font-size: 1.5rem;
    }
    h2,span{
        font-size: 1.2rem;
    }

    .text{
        margin-left: 1rem;
    }

    img{
        width: 80%;
        display: flex;
        margin-left: auto;
    }


}
