* {
    background: #010409;
    justify-content: space-around;
}

.main-card-container{

    color: #ffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


img{
    width: 100%;
    margin-left: 0;
    transform: rotateY(180deg);
}

.image{
    width: 50%;
}

.text{
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;

}

h2{
    font-weight: normal;
}

span{
    color: #238636;
}